[submodule "3rd-party/qtcsv"]
	path = 3rd-party/qtcsv
	url = https://github.com/iamantony/qtcsv.git
[submodule "3rd-party/qtxlsx"]
	path = 3rd-party/qtxlsx
	url = https://github.com/VSRonin/QtXlsxWriter.git
