name: linux

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        qt_version: [5.15.2]
        platform: [ubuntu-latest]
        arch: [x64]
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Installing Qt
        uses: jurplel/install-qt-action@v2.13.2
        with:
          version: ${{ matrix.qt_version }}
          arch: ${{ matrix.qtarch }}
          cached: ${{ steps.cache-qt.outputs.cache-hit }}

      - name: Build
        shell: bash
        run: |
          sudo apt install libgl-dev libx11-dev libxkbcommon-x11-dev
          mkdir build
          cd build
          cmake ..
          cmake --build . --parallel
          ctest --output-on-failure
